<section class="advertisement" id="advertisement">
  <div class="container">
    <div class="banner">
      <div class="banner-inner">
        <h2 class="banner-line">
          Master <span class="banner-line-accent">your photography</span> skills
          with us!
        </h2>
        &nbsp;&nbsp;
        <h2 class="banner-line">
          Master <span class="banner-line-accent">your photography</span> skills
          with us!
        </h2>
        &nbsp;&nbsp;
      </div>
    </div>
  </div>
</section>
