<!-- <section class="advertisement">
    <div class="banner">
        <div class="banner-inner">
            <svg class="banner-icon" width="375" height="0">
              <use href="../img/icons.svg#icon-Vector-1"></use>
            </svg>
            <h2 class="banner-line">Master <span class="banner-line-accent">your photography</span> skills with us!</h2>
            <h2 class="banner-line">Master <span class="banner-line-accent">your photography</span> skills with us!</h2>
        </div>
    </div>
</section> -->
