<footer class="footer">
   <div class="footer-container container contacts" id="contacts"> 
        <div class="footer-container-social">
            <div class="footer-logo">
                <a class="footer-logo-link link" href="./index.html">
                    <svg class="footer-icon" aria-label="icon-logo" width="123" height="16">
                      <use href="./img/icons.svg#icon-logo"></use>
                    </svg>
                </a>
                
                <address class="footer-adress">
                    <a class="footer-link link" href="tel:+380665438912">UK: +38 066 543 8912</a>
                    <span class="footer-country">Ukraine, Kyiv</span>
                </address>
            </div>
            <div class="footer-social">
                <ul class="footer-list-web list">
                    <li class="footer-web">
                        <a class="footer-link-web link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">INSTAGRAM</a>
                    </li>
                    <li class="footer-web">
                        <a class="footer-link-web link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">FACEBOOK</a>
                    </li>
                    <li class="footer-web">
                        <a class="footer-link-web link" href="https://www.youtube.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Youtube">YOUTUBE</a>
                    </li>
                </ul>
    
                <ul class="footer-list-about list">
                    <li class="footer-about-us">
                        <a class="footer-link-about link" href="#about">ABOUT US</a>
                    </li>
                    <li class="footer-about-us">
                        <a class="footer-link-about link" href="#courses">OUR COURSES</a>
                    </li>
                    <li class="footer-about-us">
                        <a class="footer-link-about link" href="#mentors">OUR MENTORS</a>
                    </li>
                    <li class="footer-about-us">
                        <a class="footer-link-about link" href="#reviews">REVIEWS</a>
                    </li>
                    <li class="footer-about-us">
                        <a class="footer-link-about link" href="#contacts">CONTACTS</a>
                    </li>
                </ul>
            </div>
            <div class="footer-subscribe">
                <form class="footer-subscribe-form">
                    <label class="footer-subscribe-label">
                        <input class="footer-subscribe-input" type="email" name="email" placeholder="Enter your email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                    </label>
                    <button class="footer-button" type="submit" aria-label="go">Go</button>
                </form>
            </div>
        </div>
        <div class="footer-container-privacy">
            <div class="footer-privacy-frame footer-container-link">
                <a class="footer-link-privacy link" target="_blank" rel="noopener noreferrer" href="#" aria-label="privacy policy">Privacy Policy</a> 
                <a class="footer-link-privacy link" target="_blank" rel="noopener noreferrer" href="#"  aria-label="Public Offering agreement">Public Offering Agreement</a>
            </div>

            <div class="footer-privacy-frame">
                <p class="footer-text-frame">2023 Focus Frame </p>
                <p class="footer-text-frame"><span>&#169;</span>&nbsp;All rights reserved</p>
            </div>

        </div>
   </div>
</footer>
