<footer class="footer">
   <div class="footer-container container"> 
        <div class="footer-logo">
            <a class="footer-logo-link link" href="">
                <svg class="footer-icon" aria-label="icon-logo" width="123" height="16">
                  <use href="../img/icons.svg#icon-logo"></use>
                </svg>
            </a>
            
            <address class="footer-adress">
                <a class="footer-link link" href="tel:+380665438912">UK: +38 066 543 8912</a><br />
                Ukraine, Kyiv
            </address>
        </div>
        <div class="footer-sito">
            <ul class="footer-list-web list">
                <li class="footer-web">
                    <a class="footer-link-web link" href="">INSTAGRAM</a>
                </li>
                <li class="footer-web">
                    <a class="footer-link-web link" href="">FACEBOOK</a>
                </li>
                <li class="footer-web">
                    <a class="footer-link-web link" href="">YOUTUBE</a>
                </li>
            </ul>

            <ul class="footer-list-about list">
                <li class="footer-about-us">
                    <a class="footer-link-about link" href="">ABOUT US</a>
                </li>
                <li class="footer-about-us">
                    <a class="footer-link-about link" href="">OUR COURSES</a>
                </li>
                <li class="footer-about-us">
                    <a class="footer-link-about link" href="">OUR MENTORS</a>
                </li>
                <li class="footer-about-us">
                    <a class="footer-link-about link" href="">REVIEWS</a>
                </li>
                <li class="footer-about-us">
                    <a class="footer-link-about link" href="">CONTACTS</a>
                </li>
            </ul>
        </div>
        <div class="footer-subscribe">
            <form class="footer-subscribe-form">
                <label class="footer-subscribe-label">
                    <input class="footer-subscribe-input" type="email" name="email" placeholder="Enter your email">
                </label>
                <button type="submit">Go</button>
            </form>
        </div>
        <div class="footer-container-privacy">
            <a class="footer-link-privacy link" href="">Privacy Policy <br /> 
                Public Offering Agreement
            </a>
            <p class="footer-text-frame">2023 Focus Frame <br /> <span>&#169;</span>All rights reserved</p>

        </div>
   </div>
</footer>
