<header class="header">
  <div class="container">
    <div class="header-wrapper">
    <div class="header-block">
      <nav class="header-navigation">
        <a class="header-logo" href="./index.html">
          <svg class="header-logo-icon" width="123" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="header-navigation-list">
          <li class="header-navigation-item">
            <a class="header-navigation-link" href="#about">About us</a>
          </li>
          <li class="header-navigation-item">
            <a class="header-navigation-link" href="#courses">Our courses</a>
          </li>
          <li class="header-navigation-item">
            <a class="header-navigation-link" href="#mentors">Our mentors</a>
          </li>
          <li class="header-navigation-item">
            <a class="header-navigation-link" href="#reviews">Reviews</a>
          </li>
          <li class="header-navigation-item">
            <a class="header-navigation-link" href="#contacts">contacts</a>
          </li>
        </ul>
      </nav>
      <a class="header-camera" href="#signup">
        <svg class="header-icon-camera" width="16" height="16">
          <use href="./img/icons.svg#icon-camera-header"></use>
        </svg>
      </a>
      <button
        class="header-menu-toggle js-open-menu"
        type="button"
        data-menu-open
        aria-expanded="false"
        aria-controls="mobail-menu"
      >
        <svg class="header-icon-burger" width="32" height="22">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <a class="header-sign" href="#signup">sign up</a>
  </div>
</header>
