<section class="hero">
  <div class="hero-container container">
    <div class="hero-wrapper">
      <div class="hero-sides">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-title-accent">photography</span> in our school
        </h1>
        <p class="hero-describing">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-reviews">
          <div class="hero-reviews-wrap">
            <ul class="hero-students-list">
              <li class="hero-students-item">
                <picture class="hero-img-round">
                  <source
                    srcset="
                      ./img/hero/hero_girl1_mob.webp    1x,
                      ./img/hero/hero_girl1_mob@2x.webp 2x
                    "
                  />
                  <img
                    class="hero-img-round"
                    src="./img/hero/hero_girl1_mob.webp"
                    alt="student`s avatar"
                    width="44"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="hero-students-item">
                <picture class="hero-img-round">
                  <source
                    srcset="
                      ./img/hero/hero_boy_mob.webp    1x,
                      ./img/hero/hero_boy_mob@2x.webp 2x
                    "
                  />
                  <img
                    class="hero-img-round"
                    src="./img/hero/hero_boy_mob.webp"
                    alt="student`s avatar"
                    width="44"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="hero-students-item">
                <picture class="hero-img-round">
                  <source
                    srcset="
                      ./img/hero/hero_girl_mob.webp    1x,
                      ./img/hero/hero_girl_mob@2x.webp 2x
                    "
                  />
                  <img
                    class="hero-img-round"
                    src="./img/hero/hero_girl_mob.webp"
                    alt="student`s avatar"
                    width="44"
                    loading="lazy"
                  />
                </picture>
              </li>
            </ul>

            <a href="#reviews" class="hero-reviews-link">
              <span class="hero-happy-text"
                >Our happy <br />
                students
              </span>
              <svg
                class="hero-reviews-arrow"
                style="stroke: white; fill: white"
                width="18"
                height="9"
              >
                <use href="./img/icons.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>

          <div class="hero-reviews-numbers">
            <span class="hero-svg-circle">
              <svg class="hero-reviews-svg" width="16" height="16">
                <use href="./img/icons.svg#icon-star-unfilled"></use>
              </svg>
            </span>
            <div class="hero-numbers-wrap">
              <span class="hero-reviews-word">Reviews</span>
              <span class="hero-reviews-number">+1500</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-sides">
        <picture class="hero-guy">
          <source
            media="(min-width: 1280px)"
            srcset="./img/hero/hero1280.webp 1x, ./img/hero/hero1280@2x.webp 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="./img/hero/hero_tab.webp 1x, ./img/hero/hero_tab@2x.webp 2x"
          />
          <source
            media="(min-width: 375px)"
            srcset="./img/hero/hero_mob.webp 1x, ./img/hero/hero_mob@2x.webp 2x"
          />
          <img
            class="hero-img"
            src="./img/hero/hero1440.webp"
            alt="Guy with the camera in hands"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
