<section class="mentors" id="mentors">
  <div class="mentors-section-container container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-color">Mentors</span>
    </h2>
    <ul class="mentors-list-team">
      <li class="mentors-list-item">
        <div class="mentors-foto">
          <img
            srcset="
              ./img/mentors/mentors-1.png    1x,
              ./img/mentors/mentors-1@2x.png 2x
            "
            src="./img/mentors/mentors-1.png"
            alt="Emilia Smith"
            width="185"
            loading="lazy"
          />
          <div class="mentors-info">
            <h3 class="mentors-name">Emilia Smith</h3>
            <p class="mentors-experience">1.5 years of experience</p>
          </div>
        </div>
        <div class="mentors-description">
          <p>She has unparalleled skills in wedding photography. In her portfolio are more than 30 wedding ceremonies captured.</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <div class="mentors-foto">
          <img
            srcset="
              ./img/mentors/mentors-2.png    1x,
              ./img/mentors/mentors-2@2x.png 2x
            "
            src="./img/mentors/mentors-2.png"
            alt="Alex Lebedev"
            width="185"
            loading="lazy"
          />
          <div class="mentors-info">
            <h3 class="mentors-name">Alex Lebedev</h3>
            <p class="mentors-experience">3.5 years of experience</p>
          </div>
        </div>
        <div class="mentors-description">
          <p>A master of landscape photography holding a certificate from a world-renowned photography course.</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <div class="mentors-foto">
          <img
            srcset="
              ./img/mentors/mentors-3.png    1x,
              ./img/mentors/mentors-3@2x.png 2x
            "
            src="./img/mentors/mentors-3.png"
            alt="Mia Dubrovska"
            width="185"
            loading="lazy"
          />
          <div class="mentors-info">
            <h3 class="mentors-name">Mia Dubrovska</h3>
            <p class="mentors-experience">2 years of experience</p>
          </div>
        </div>
        <div class="mentors-description">
          <p>This girl specializes in photographing children and children's parties. She can capture the best moments even in the continuous motion of your little rascals.</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <div class="mentors-foto">
          <img
            srcset="
              ./img/mentors/mentors-4.png    1x,
              ./img/mentors/mentors-4@2x.png 2x
            "
            src="./img/mentors/mentors-4.png"
            alt="Eliot Kovalev"
            width="185"
            loading="lazy"
          />
          <div class="mentors-info">
            <h3 class="mentors-name">Eliot Kovalev</h3>
            <p class="mentors-experience">4 years of experience</p>
          </div>
        </div>
        <div class="mentors-description">
          <p>He is a portrait photography specialist who trained in the United Kingdom and even photographed Queen Elizabeth.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
