<section>
    MENTORS
    <!-- section.mentors>div.container>h2.mentors-title^ul.list-team>li.list-item>div.mentors-foto>img^div.mentors-info>h3.mentor-name^p.mentor-experience    -->
        <section class="mentors container">
            <div class="container">
                <h2 class="mentors-title">Our Mentors</h2>
                <ul class="list-team">
                    <li class="list-item">
                        <div class="mentors-foto">
                            <img srcset="../img/mentors/mentors-1.png 1x, ../img/mentors/mentors-1@2x.png 2x" src="../img/mentors/mentors-1.png" alt="Emilia Smith" width="185px" loading="lazy">
                            <div class="mentor-info">
                                <h3 class="mentor-name">Emilia Smith</h3>
                                <p class="mentor-experience">1.5 years of experience</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="mentors-foto">
                            <img srcset="../img/mentors/mentors-2.png 1x, ../img/mentors/mentors-2@2x.png 2x" src alt="Alex Lebedev" width="185px" loading="lazy">
                            <div class="mentor-info">
                                <h3 class="mentor-name">Alex Lebedev</h3>
                                <p class="mentor-experience"> 3.5 years of experience</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="mentors-foto">
                            <img srcset="../img/mentors/mentors-3.png 1x, ../img/mentors/mentors-3@2x.png 2x" src alt="Mia Dubrovska" width="185px" loading="lazy">
                            <div class="mentor-info">
                                <h3 class="mentor-name">Mia Dubrovska</h3>
                                <p class="mentor-experience"> 2.0 years of experience</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="mentors-foto">
                            <img srcset="../img/mentors/mentors-4.png 1x, ../img/mentors/mentors-4@2x.png 2x" src alt="Eliot Kovalev" width="185px" loading="lazy">
                            <div class="mentor-info">
                                <h3 class="mentor-name">Eliot Kovalev</h3>
                                <p class="mentor-experience"> 4.0 years of experience</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </section>

</section>

