<div class="menu-container js-menu-container">
    <button class="menu-close js-close-menu">
        <svg class="menu-close-svg" width="20" height="20">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
    </button>

    <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a
              class="menu-nav-link current link color-active"
              href="./index.html"
              >About us</a
            >
          </li>

          <li class="menu-nav-item">
            <a
              class="menu-nav-link current link color-active"
              href="./index.html"
              >Our courses</a
            >
          </li>

          <li class="menu-nav-item">
            <a
              class="menu-nav-link current link color-active"
              href="./index.html"
              >Our mentors</a
            >
          </li>

          <li class="menu-nav-item">
            <a
              class="menu-nav-link current link color-active"
              href="./index.html"
              >Reviews</a
            >
          </li>
          <li class="menu-nav-item">
            <a
              class="menu-nav-link current link color-active"
              href="./index.html"
              >contacts</a
            >
          </li>
        </ul>
    </nav>

  </div>