<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper swiper">
      <ul class="swiper-wrapper">
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-photo"
              alt="Abraham Baker"
              srcset="
                ./img/reviews/reviews-student-1.webp    1x,
                ./img/reviews/reviews-student-1@2x.webp 2x
              "
              src="./img/reviews/reviews-student-1.webp"
              loading="lazy"
            />
            <div class="reviews-wrapper">
              <div class="reviews-author">
                <h3 class="reviews-name">Abraham Baker</h3>
                <p class="reviews-status">Student</p>
              </div>
              <ul class="reviews-rating">
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-impression">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </li>

        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-photo"
              alt="Abraham Baker"
              srcset="
                ./img/reviews/reviews-student-2.webp    1x,
                ./img/reviews/reviews-student-2@2x.webp 2x
              "
              src="./img/reviews/reviews-student-2.webp"
              loading="lazy"
            />
            <div class="reviews-wrapper">
              <div class="reviews-author">
                <h3 class="reviews-name">Amanda Lowery</h3>
                <p class="reviews-status">Student</p>
              </div>
              <ul class="reviews-rating">
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-impression">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand.
          </p>
        </li>

        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-photo"
              alt="Abraham Baker"
              srcset="
                ./img/reviews/reviews-student-3.webp    1x,
                ./img/reviews/reviews-student-3@2x.webp 2x
              "
              src="./img/reviews/reviews-student-3.webp"
              loading="lazy"
            />
            <div class="reviews-wrapper">
              <div class="reviews-author">
                <h3 class="reviews-name">Kira Potiekhina</h3>
                <p class="reviews-status">Student</p>
              </div>
              <ul class="reviews-rating">
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-impression">
            I always dreamed of becoming a photographer, but I didn't know where
            to start. That's why I decided to enroll in courses at the
            photography school. The courses lasted 6 months, and during this
            time I learned the basics of photography.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <img
              class="reviews-photo"
              alt="Abraham Baker"
              srcset="
                ./img/reviews/reviews-student-4.webp    1x,
                ./img/reviews/reviews-student-4@2x.webp 2x
              "
              src="./img/reviews/reviews-student-4.webp"
              loading="lazy"
            />
            <div class="reviews-wrapper">
              <div class="reviews-author">
                <h3 class="reviews-name">Victoria Smilyanets</h3>
                <p class="reviews-status">Student</p>
              </div>
              <ul class="reviews-rating">
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
                <li class="reviews-rating">
                  <svg class="reviews-icon" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-filled"></use>
                  </svg>
                </li>
              </ul>
            </div>
          </div>
          <p class="reviews-impression">
            The teachers were experienced photographers who managed to convey
            the material in an accessible and interesting way. They constantly
            gave us practical tasks that helped us consolidate the acquired
            knowledge.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
