<section class="reviews">
  <div class="conteiner">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="review-item">
        <div class="review-author">
          <img
            src="review-photo"
            alt="Abraham Baker"
            srcset="
              ./img/reviews/reviews-student-1.png    1x,
              ./img/reviews/reviews-student-1@2x.png 2x
            "
            src="./img/reviews/reviews-student-1.png"
            loading="lazy"
          />
          <h3 class="review-name">Abraham Baker</h3>
          <p class="review-status">Student</p>
          <p class="review-impression">
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>
        <div class="review-rating">
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
        </div>
      </li>
      <li class="review-item">
        <div class="review-author">
          <img
            src="review-photo"
            alt="Abraham Baker"
            srcset="
              ./img/reviews/reviews-student-2.png    1x,
              ./img/reviews/reviews-student-2@2x.png 2x
            "
            src="./img/reviews/reviews-student-2.png"
            loading="lazy"
          />
          <h3 class="review-name">Amanda Lowery</h3>
          <p class="review-status">Student</p>
          <p class="review-impression">
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
        <div class="review-rating">
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
          <svg class="review-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-star-filled"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
