<section class="signup" id="signup">
    <div class="container">
        <div class="signup-main">
            <h2 class="signup-title">Sign <span class="signup-title-accent">Up</span></h2>
            <p class="signup-text">Please use the form below to contact us. Enter your name, email, and message and we'll get back to you shortly.</p>
            
            <div class="form-wrapper">
            <form class="signup-form" name="feedback-form" novalidate>
            <div class="signup-row">
                <input class="signup-input" type="text" name="user-name" id="user-name" placeholder="Enter your name" required pattern="\w{2,20}" />
            </div>
            <div class="signup-row">
                <input class="signup-input" type="email" name="user-email" id="user-email" placeholder="Enter your email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            </div>
            <div class="signup-comment">
                <textarea class="signup-comment-field" name="user-comment" id="user-comment" rows="5" placeholder="Message" required minlength="7"></textarea>
            </div>
            
            <button class="signup-button" type="submit" aria-label="submit a subscription form">SEND</button>
            <p class="signup-privacy-text">By clicking on “Send” button, you agree to our <a class="signup-agreement-link" href="#" target="_blank" rel="noopener noreferrer" aria-label="read the privacy policy agreement">Privacy Policy</a>,<br> and allow Promodo to use this information for marketing
        purposes.</p>
            </form>
            </div>
        </div>
            
        <div class="signup-additional">
            <div class="signup-additional-animated">
                <img class="animated-img" 
                srcset="./img/sing-up/small1280.webp 1x, ./img/sing-up/small1280_@2x.webp 2x"
                src="./img/sing-up/small1280.webp" 
                alt="Lens"
                loading="lazy" />
            </div>
            <div class="signup-additional-static">
                <img class="static-img" 
                srcset="./img/sing-up/video-product-2-1440.webp 1x, ./img/sing-up/video-product-2-1440@2x.webp 2x"
                src="./img/sing-up/video-product-2-1440.webp" 
                alt="Camera"
                loading="lazy" />
            </div>
        </div>
    </div>
    
</section>
