.advertisement {
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;

    color: var(--brown);
    /* font-family: DM Sans; */
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
  
.banner__inner {
    display: flex;
}
  
.banner__line {
    flex-shrink: 0;
    margin: 0;
    padding: 10px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.banner-line-accent {
    color: var(--text-white);
}

@keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
}
