*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text-white: #ffffff;
  --brown: #bea69e;
  --main-bg: #121212;
  --accent-bg: #1d1d1d;
  --gradient-bg:linear-gradient(180deg, #060707 0%, #1D1D1D 100%);

}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  background-image: url(../img/hero/hero-bg_mob.png);
  background-size: 100%;
  color: var(--text-white);
  background-color: var(--main-bg);
}

@media only screen and (min-resolution: 192dpi) {
  body {
    background-image: url(../img/hero/hero-bg_mob@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(../img/hero/hero-bg_tab.png);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  body {
    background-image: url(../img/hero/hero-bg_tab@2x.png);
  }
}

@media only screen and (min-width: 1280px) {
  body {
    background-image: url(../img/hero/hero-bg1280.png);
  }
}

@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  body {
    background-image: url(../img/hero/hero-bg1280@2x.png);
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../img/hero/hero-bg1440.png);
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  body {
    background-image: url(../img/hero/hero-bg1440@2x.png);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .container {
    max-width: 1280px;
    padding-left: 99px;
    padding-right: 99px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
