
.footer {
    padding-top: 40px;
    width: 100%;
    height: 100%;
    border-top: 1px solid #FFFFFF33;
    padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
.footer {
    padding-top: 50px;
    padding-bottom: 25px;
    }
}
  
@media only screen and (min-width: 768px) {
    .footer-container-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.footer-logo {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        margin-bottom: 0;
    }
}

.footer-logo-link {
    fill: var(--text-white);
}
.footer-icon {
    margin-bottom: 20px;  
}

@media only screen and (min-width: 768px) {
    .footer-icon {
        margin-bottom: 25px;  
    }
}
.footer-adress {
    width: 142px;
    height: 46px;
    display: flex;
    gap: 10px;
    flex-direction: column;   
}

.footer-link {
    fill: var(--text-white);
    font-size: 14px;
    line-height: 1.28;
    transition-duration: var(--trans-time);
    transition-timing-function: var(--trans-func);
}

.footer-link:hover ,
.footer-link:focus {
    color: var(--brown);
    font-weight: 600;
}

.footer-country {
color: var(--text-white);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28; 
}

.footer-social {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    width: 214px;
    height: 146px;  
}

@media only screen and (min-width: 768px) {
    .footer-social {
        gap: 25px;
        margin-bottom: 74px;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-social {
        gap: 50px;
        height: 170px;
        width: 224px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer-social {
        gap: 100px;
        width: 274px;
    }
}

.footer-list-web {
}

@media only screen and (min-width: 1280px) {
    .footer-list-web {
        width: 77px;
        height: 94px;
    }
}

.footer-web {
    margin-bottom: 14px;
}

@media only screen and (min-width: 1280px) {
    .footer-web {
        margin-bottom: 20px;
    }
} 

.footer-link-web {
    color: var(--text-white);
    font-size: 14px;
    line-height: normal;
    transition-duration: var(--trans-time);
    transition-timing-function: var(--trans-func);
}

.footer-link-web:hover ,
.footer-link-web:focus {
    color: var(--brown);
    font-weight: 600;
}


.footer-list-about {
    width: 97px;
}


.footer-about-us {
    margin-bottom: 14px;
}

@media only screen and (min-width: 1280px) {
    .footer-about-us {
        margin-bottom: 20px;
    }
}

.footer-link-about {
    color: var(--text-white);
    font-size: 14px;
    line-height: normal;
    transition-duration: var(--trans-time);
    transition-timing-function: var(--trans-func);
}


.footer-link-about:hover ,
.footer-link-about:focus {
    color: var(--brown);
    font-weight: 600;
}



.footer-subscribe {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .footer-subscribe {
        margin-bottom: 0;
    }
}

.footer-subscribe-form {
    display: flex;
    gap: 8px; 
    width: 100%;
}
.footer-subscribe-label {
    flex-grow: 1;
}

.footer-subscribe-input {
font-size: 16px;
line-height: 1.25;
border-radius: 12px;
background-color: var(--text-white); 
height: 60px;
border: none;
padding-left: 18px;
width: 100%;
transition-duration: var(--trans-time);
transition-timing-function: var(--trans-func);
}

.footer-subscribe-input:hover ,
.footer-subscribe-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: var(--main-bg);
    stroke-width: 1px;
    color: var(--text-white)

}

@media only screen and (min-width: 375px) {
    .footer-subscribe-input {
        width: 267px;
    }    
}


@media only screen and (min-width: 768px) {
    .footer-subscribe-input {
        width: 178px;
    }    
}

@media only screen and (min-width: 1280px) {
    .footer-subscribe-input {
        width: 216px;
    }    
}

.footer-button{
    color: var(--text-white);
text-align: center;
font-size: 20px;
line-height: 1.2;
width: 60px;
height: 60px;
border-radius: 12px;
background-color: var(--accent-bg);
border: none;
flex-shrink: 0;
transition-duration: var(--trans-time);
transition-timing-function: var(--trans-func);
}

.footer-button:hover,
.footer-button:focus {
      color: var(--brown); 
}



.footer-container-privacy {
    color: var(--text-white);
font-size: 12px;
line-height: 1.33;
gap: 8px;
display: flex;
justify-content: space-between;
}
.footer-privacy-frame {
      
}

.footer-container-link{
    display: flex;
    flex-direction: column;
}

.footer-link-privacy {
}

.footer-text-frame {
    color: var(--text-white);
font-size: 12px;
font-style: normal;
line-height: 1.33;
}