.footer {
  padding-top: 40px;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ffffff33;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1280px) {
    .footer {
        padding-top: 59px;
      }
}

@media only screen and (min-width: 1440px) {
    .footer {
        padding-top: 49px;
      }
}

@media only screen and (min-width: 768px) {
  .footer-container-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.footer-logo {
  margin-bottom: 38px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-logo {
    width: 290px;
  }
}

.footer-logo-link {
  fill: var(--text-white);
}

.footer-icon {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-icon {
    margin-bottom: 21px;
  }
}

.footer-adress {
  width: 142px;
  height: 46px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-link {
  fill: var(--text-white);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: normal;
  font-style: normal;
  transition-duration: var(--trans-time);
  transition-timing-function: var(--trans-func);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--brown);
}

.footer-country {
  color: var(--text-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.01em;
}

.footer-social {
  margin-bottom: 76px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 214px;
  height: 146px;
}

@media only screen and (min-width: 768px) {
  .footer-social {
    justify-content: center;
    gap: 25px;
    margin-bottom: 74px;
    min-width: 214px;
    margin-top: -1px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-social {
    gap: 50px;
    height: 170px;
    width: 224px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-social {
    gap: 100px;
    width: 274px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-list-web {
    width: 77px;
    height: 94px;
  }
}

.footer-web {
  margin-bottom: 12px;
  letter-spacing: normal;
}

@media only screen and (min-width: 1280px) {
  .footer-web {
    margin-bottom: 18px;
  }
}

.footer-link-web {
  color: var(--text-white);
  font-size: 14px;
  line-height: normal;
  transition-duration: var(--trans-time);
  transition-timing-function: var(--trans-func);
}

.footer-link-web:hover.text-focus-in,
.footer-link-web:focus.text-focus-in,
.footer-link-about:hover.text-focus-in,
.footer-link-about:focus.text-focus-in {
  -webkit-animation: text-focus-in 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 350ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    color: var(--brown);
  }
}

.footer-list-about {
  width: 97px;
}

.footer-about-us {
  margin-bottom: 12px;
  letter-spacing: normal;
}

@media only screen and (min-width: 1280px) {
  .footer-about-us {
    margin-bottom: 18px;
  }
}

.footer-link-about {
  color: var(--text-white);
  font-size: 14px;
  line-height: normal;
  transition-duration: var(--trans-time);
  transition-timing-function: var(--trans-func);
}

.footer-subscribe {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe {
    margin-bottom: 0;
  }
}

.footer-subscribe-form {
  display: flex;
  gap: 8px;
  width: 100%;
}

@media only screen and (min-width: 1280px)  {
    .footer-subscribe-form {
        gap: 19px;
    }
}

@media only screen and (min-width: 1440px)  {
    .footer-subscribe-form {
        gap: 16px;
    }
}

.footer-subscribe-label {
  flex-grow: 1;
}

.footer-subscribe-input {
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  background-color: var(--text-white);
  height: 60px;
  border: none;
  padding-left: 18px;
  width: 100%;
  transition-duration: var(--trans-time);
  transition-timing-function: var(--trans-func);
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--main-bg);
  stroke-width: 1px;
  color: var(--text-white);
}

@media only screen and (min-width: 375px) {
  .footer-subscribe-input {
    width: 267px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-input {
    width: 178px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-subscribe-input {
    width: 216px;
  }
}

.footer-button {
  color: var(--text-white);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: var(--accent-bg);
  border: none;
  flex-shrink: 0;
  transition-duration: var(--trans-time);
  transition-timing-function: var(--trans-func);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.footer-button-inner {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
}

.footer-animation-slide {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  transition: all 0.5s ease-Out;
  bottom: 0;
  left: -200px;
  z-index: 20;
}

.footer-button-inner:hover .footer-animation-slide {
  left: 0;
}

.footer-button-inner:hover .footer-button {
  color: var(--brown);
}

.footer-container-privacy {
  color: var(--text-white);
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 375px) {
  .footer-container-privacy {
    justify-content: flex-start;
    gap: 72px;
  }
}

@media only screen and (min-width: 375px) {
  .footer-container-privacy {
    justify-content: space-between;
  }
}

.footer-container-link {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

.footer-link-privacy {
  letter-spacing: normal;
}

@media only screen and (min-width: 768px) {
  .footer-link-privacy {
    font-size: 14px;
  }
}

.footer-privacy-frame {
  padding-top: 1px;
}

@media only screen and (min-width: 768px) {
  .footer-privacy-frame {
    margin-right: 5px;
  }
}

.footer-text-frame {
  color: var(--text-white);
  font-size: 12px;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.01em;
}

@media only screen and (min-width: 768px) {
  .footer-text-frame {
    font-size: 14px;
  }
}
