
.footer {
    padding: 40p 20px;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
.footer {
    padding: 50px 32px;
    }
}
  
@media only screen and (min-width: 1280px) {
}

.footer-container {
    padding: 40px auto;
}
.footer-logo {
    margin-bottom: 40px;
}

.footer-logo-link {
    fill: var(--text-white);
    width: 100%;
    height: 100%;
}
.footer-icon {
    margin-bottom: 20px;
}
.footer-adress {
    width: 142px;
    height: auto 18px;
    gap: auto;
}
.footer-link {
    fill: var(--text-white);
font-size: 14px;
line-height: 1.28;
}
.footer-social {
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    width: 214px;
    height: 146px;  
}
.footer-list-web {
    color: var(--text-white);
font-size: 14px;
line-height: normal;
}

.footer-web {
    margin-bottom: 14px;
}

.footer-link-web {
}
.footer-list-about {
    color: var(--text-white);
font-size: 14px;
line-height: normal;
}
.footer-about-us {
    margin-bottom: 14px;
}
.footer-link-about {
}
.footer-subscribe {
    margin-bottom: 40px;
}
.footer-subscribe-form {
    gap: 8px;
}
.footer-subscribe-label {
    
}
.footer-subscribe-input {
font-size: 16px;
line-height: 1.25;
border-radius: 12px;
background-color: var(--text-white); 
width: 267px;
height: 60px;
border: none;
}

.footer-button{
    color: var(--text-white);
text-align: center;
font-size: 20px;
line-height: 120%; /* 24px */
width: 60px;
height: 60px;
border-radius: 12px;
background-color: var(--accent-bg);
border: none;
}

.footer-container-privacy {
    color: var(--text-white);
font-size: 12px;
line-height: 1.33;
gap: 8px;
display: flex;
justify-content: space-between;
}
.footer-privacy-frame {
    padding-bottom: 20px;
}

.footer-container-link{
    display: flex;
    flex-direction: column;
}
.footer-link-privacy {
}
.footer-text-frame {
    color: var(--text-white);
font-size: 12px;
font-style: normal;
line-height: 1.33;
}