.mentors {}


.mentors-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--main-bg);
}


.mentors-title {
    display: flex;
    color: var(--text-white);
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.mentors-title-color {
    color: var(--brown);
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.mentors-list-team {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 40px 95px;
    justify-content: center;
    align-items: center;
  }

.mentors-list-item {
    display: flex;
    gap: 16px;
    flex-direction: column;
    
}

.mentors-foto {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center; 
}

.mentors-info {
    display: flex;
    flex-direction: column; 
    gap: 4px;
    }

.mentors-name {
   
}

.mentors-experience {
   
}