.mentors {
    background-color: var(--main-bg);
}


.mentors-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--main-bg);
}

@media only screen and (min-width: 768px) {
    .mentors-section-container {
        padding-top: 50px;
    }
}
@media only screen and (min-width: 1280px) {
    .mentors-section-container {
        padding-top: 75px;
    }
}

.mentors-title {
    display: flex;
    color: var(--text-white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
    gap: 5px;
    
}

.mentors-title-color {
    color: var(--brown);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

.mentors-list-team {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
  }

  @media only screen and (min-width: 768px) {

    .mentors-list-team {
        perspective: 1000px;
    }
  }

.mentors-list-item {
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition-duration: 1s;
}

@keyframes flipAndGrow {
    0% {
      transform: rotateY(0deg) scale(1);
    }
    50% {
      transform: rotateY(180deg) scale(1); 
    }
    100% {
      transform: rotateY(180deg) scale(1.2);
    }
  }

.mentors-list-item:hover {
    animation: flipAndGrow 1.5s ease-in-out forwards;
}

.mentors-list-item:not(:hover) {
    animation: flipBack 1s ease-in-out forwards;
  }
  
  @keyframes flipBack {
    0% {
      transform: rotateY(180deg) scale(1.2);
    }
    50% {
      transform: rotateY(0deg) scale(1.2);
    }
    100% {
      transform: rotateY(0deg) scale(1);
    }
  }

.mentors-foto {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    backface-visibility: hidden;
}

.mentors-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background-color: var(--main-bg);
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.20);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: -12px 0 20px -12px rgba(190, 166, 158, 0.35), 12px 0 20px -12px rgba(190, 166, 158, 0.35);
}

.mentors-description:hover {
    z-index: 1;
}

.mentors-info {
    display: flex;
    flex-direction: column; 
    gap: 4px;
    }

.mentors-name {
    color: var(--text-white);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    width: 194px;

       
}

.mentors-experience {
    color: rgba(255, 255, 255, 0.50);
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
    .mentors-title {
        font-size: 48px;
        gap: 12px;
        letter-spacing: normal;
    
        }
           
        .mentors-name {
            font-size: 28px;
            line-height: 1.14;
            
        }
        .mentors-title-color {
            letter-spacing: normal;
            font-size: 48px;
            font-weight: 500;
                           
        }
        .mentors-list-team {
            padding-top: 50px;
            
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: 93px;
            column-gap: 100px;
        }
    
    .mentors-list-item {
        width: calc((100% - 100px) / 2);
    } 
        
    
        .mentors-experience {
            font-size: 14px;
            line-height: 1.28;
        }
    
}
@media only screen and (min-width: 1280px) {
    
        .mentors-list-team {
           
            flex-wrap: nowrap;
            gap: 93px;
        }
}
@media only screen and (min-width: 1440px) {
    
         .mentors-list-team {
            
            gap: 113px;
         }
        
        
}