.menu-container {
  position: fixed;
  z-index: 5;
  width: 218px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--brown);
  background-image: url(../img/menu_tab_mobile/menu_camera_mob.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 180px 20px 20px 20px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media only screen and (min-resolution: 192dpi) {
  .menu-container {
    background-image: url(../img/menu_tab_mobile/menu_camera_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    width: 480px;
    padding: 232px 64px 64px;
    background-image: url(../img/menu_tab_mobile/menu_camera_tab.jpg);
  }
  
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .menu-container {
    background-image: url(../img/menu_tab_mobile/menu_camera_tab@2x.jpg);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-close {
  position: absolute;
  top: 28px;
  right: 28px;
  background: transparent;
  border: none;
}

.menu-close-svg {
  stroke: var(--main-bg);
}

.menu-nav-link {
  display: block;
  width: fit-content;
  color: var(--main-bg);
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 10px 10px 0;
}

.menu-nav-link:focus,
.menu-nav-link:active {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .menu-nav-link:not(:last-child) {
   padding: 12px 12px 12px 0;
  }
}
