.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.40); 
    display: none;
}

.overlay.active {
    display: block;
}