/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./normalize.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./signup.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./overlay.css');
@import url('./mobile-menu.css');
@import url('./scroll.css');
