/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./normalize.css');
@import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./signup.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./overlay.css');
@import url('./mobile-menu.css');

/* PAGE-SCROLL-BUTTON */

.scroll-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;

  flex-shrink: 0;
  border-radius: 50%;
  cursor: pointer;
  fill: var(--text-white-trans);
  border-color: var(--brown-transp);
  background-color: var(--accent-bg);

  position: fixed;
  right: 30px;
  bottom: 30px;

  bottom: vw;
  outline: solid red;
}
.icon-croll-up {
}
